body {
    background-color: #fff6ea;
}

.hauto {
    height: auto;
}

.h100 {
    height: 100px;
}

.hasClass {
    display: block !important;
    padding: 10px auto;

}

.hasClass .act {
    width: 36px;
    height: 40px;
    margin: 0 auto;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
}

/*装饰*/
.dec-r {
    position: absolute;
    width: 290px;
    height: 380px;
    background: url(//i2.beta.ule.com/i/event/2018/0327/awaken/sprite.png) no-repeat -300px -59px;
    left: 65%;
}
.dec-l {
    position: absolute;
    width: 290px;
    height: 380px;
    background: url(//i2.beta.ule.com/i/event/2018/0327/awaken/sprite.png) no-repeat 0px -236px;
    left: 15%;
}
/*模态框*/
.popbox {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background-color: rgba(0, 0, 0, .5);
}

.slider-wrapper {
    display: none;
    position: fixed;
    top: 200px;
    left: 80%;
    width: 100px;
}

.slider-wrapper .s-header {
    width: 100%;
    height: 60px;
    background: url(//i2.beta.ule.com/i/event/2018/0327/awaken/sprite.png) no-repeat 0 0;
}

.slider-wrapper .slider li {
    height: 30px;
    margin: 3px auto;
    text-align: center;
    line-height: 30px;
    background-color: #449f2a;
}

.slider-wrapper .slider li:hover {
    background-color: #aacc06;
}

.slider-wrapper .slider li a {
    display: block;
    width: 100px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.popbox .couDialog {
    position: relative;
    left: 35%;
    top: 30%;
    width: 550px;
    height: 300px;
    z-index: 1002;
    background-color: #fff;
}

.popbox .couDialog .couImg {
    width: 250px;
    height: 308px;
    float: left;
}

.popbox .couDialog .error {
    background: url("//i1.ulecdn.com/j/jend/plugin/i/zjl_icon_005.jpg") no-repeat 25px 66px;
}

.popbox .couDialog .success {
    background: url("//i1.ulecdn.com/j/jend/plugin/i/zjl_icon_006.jpg") no-repeat 25px 66px;
}

.popbox .couDialog .other {
    background: url("//i1.ulecdn.com/j/jend/plugin/i/zjl_icon_007.jpg") no-repeat 25px 66px;
}

.popbox .couDialog .cou-bg .bg {
    position: absolute;
    background-image: url(//i1.ulecdn.com/j/jend/plugin/i/zjl_icon_002.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 34px;
}

.popbox .couDialog .cou-bg .bg-l {
    width: 45px;
    top: 22px;
    left: 33px;
}

.popbox .couDialog .cou-bg .bg-m {
    width: 63px;
    top: 21px;
    left: 175px;
    background-position: -49px 0;
}

.popbox .couDialog .cou-bg .bg-r {
    width: 45px;
    right: 14px;
    bottom: 12px;
}

.popbox .couDialog .couInfo {
    overflow: hidden;
    padding: 84px 10px 0 0;
}

.popbox .couDialog .couTxt {
    font-size: 22px;
    font-weight: bold;
    color: #f21717;
}

.popbox .couDialog .couPrompt {
    color: #666;
    font-size: 16px;
    padding-top: 10px;
    font-family: 'Microsoft YaHei';
}

.popbox .couDialog .couBtns .confirm {
    background-image: url(//i1.ulecdn.com/j/jend/plugin/i/zjl_icon_003.jpg);
    background-repeat: no-repeat;
    background-position: 0 -42px;
    width: 116px;
    height: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}

.popbox .couDialog .couClose {
    position: absolute;
    right: 14px;
    top: 14px;
    width: 40px;
    height: 40px;
    /*text-indent: -1000px;*/
    background: url(//i1.ulecdn.com/j/jend/plugin/i/zjl_icon_001.jpg) no-repeat 0 -42px;
    overflow: hidden;
    cursor: pointer;
}

.popbox .couDialog .couBtns {
    margin-top: 20px;
}

.popbox .couDialog .btns {
    background: url(https://i1.ulecdn.com/j/jend/plugin/i/zjl_icon_003.jpg) no-repeat 0 -42px;
    width: 116px;
    height: 40px;
    display: block;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}

.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.banner .banner_l {
    position: absolute;
    top: 0;
    left: 50%;
    width: 635px;
    height: 535px;
    margin-left: -950px;
    background: url(//i2.beta.ule.com/i/event/2018/0327/awaken/banner_l.jpg) no-repeat top center;
    /*background: url(//i2.ule.com/i/event/2018/0327/awaken/banner_l.jpg) no-repeat top center;*/
}

.banner .banner_m {
    width: 635px;
    height: 535px;
    margin: 0 auto;
    background: url(//i2.beta.ule.com/i/event/2018/0327/awaken/banner_m.jpg) no-repeat top center;
    /*background: url(//i2.ule.com/i/event/2018/0327/awaken/banner_m.jpg) no-repeat top center;*/
}

.banner .banner_r {
    position: absolute;
    top: 0;
    right: 50%;
    width: 672px;
    height: 535px;
    margin-right: -970px;
    background: url(//i2.beta.ule.com/i/event/2018/0327/awaken/banner_r.jpg) no-repeat top center;
    /* background: url(//i2.ule.com/i/event/2018/0327/awaken/banner_r.jpg) no-repeat top center; */
}

.subtitle {
    width: 100%;
    height: 110px;
    background-color: #439e29;
}

.none {
    display: none;
}

.subtitle .sub-inner {
    width: 485px;
    height: 110px;
    margin: 0 auto;
    background: url(//i2.beta.ule.com/i/event/2018/0327/awaken/sprite.png) no-repeat -305px 38px;
    /* background: url(//i2.ule.com/i/event/2018/0327/awaken/sprite.png) no-repeat 0 300px; */
}

.none {
    display: none;
}

.main {
    width: 960px;
    margin: 0 auto;
}

.main .coupons {
    margin: 10px auto;
    overflow: hidden;
    transition: height .5s ease-in-out;
    -moz-transition: height .5s ease-in-out;
    -webkit-transition: height .5s ease-in-out;
    -o-transition: height .5s ease-in-out;
}

.main .coupons .coupon {
    width: 240px;
    height: 100px;
    background: url(//i2.beta.ule.com/i/event/2018/0327/awaken/sprite.png) no-repeat 0 -135px;
    /*background: url("//i2.ule.com/i/event/2018/0327/awaken/sprite.png") no-repeat 130px 0;*/
    float: left;
    cursor: pointer;
}

.main .coupons .coupon .cou_l {
    width: 100px;
    height: 100px;
    float: left;
    color: #fff;
}

.main .coupons .coupon .cou_l .quan {
    height: 22px;
    width: 100px;
    margin: 12px 10px -8px;
    font-size: 16px;
    overflow: hidden;
}

.main .coupons .coupon .cou_l .price {
    position: relative;
    padding: 0 20px;
    color: #fff;
    text-align: center;
}

.main .coupons .coupon .cou_l .price span {
    position: absolute;
    top: 40px;
    left: 12px;
}

.main .coupons .coupon .cou_l span {
    font-size: 15px;
}

.main .coupons .coupon .cou_l p {
    font-size: 64px;
    /*float: right;*/
}

.main .coupons .coupon .cou_r {
    float: right;
}

.main .coupons .coupon .cou_r a {
    color: #fff;
}

.main .coupons .coupon .cou_r .over {
    width: 120px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
}

.main .coupons .coupon .cou_r .get {
    line-height: 100%;
    padding-left: 1rem;
}

.main .coupons .coupon .cou_r .get a {
    display: block;
    width: 115px;
    height: 15px;
    line-height: 15px;
    margin-left: -5px;
    font-size: 14px;
    color: #ff9301;
}

.main .coupons .coupon a:hover {
    text-decoration: none;
}

.main .more {
    position: relative;
    width: 165px;
    height: 30px;
    margin: 25px auto;
    border-radius: 10px;
    background-color: #449f2a;
    line-height: 30px;
    text-align: center;
}

.main .more button {
    width: 120px;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    border-style: none;
    line-height: 30px;
    outline: none;
    cursor: pointer;
}

.main .more .box {
    width: 0;
    height: 0;
}

.main .more .box_bottom {
    position: absolute;
    top: 30px;
    left: 65px;
    border-top: 15px solid #449f2a;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
}

.main .more .box_top {
    display: none;
    position: absolute;
    top: -30px;
    left: 65px;
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #449f2a;
    border-left: 15px solid transparent;
}

.main .item-wrapper {
    margin-top: 15px;
}

.main .item-title-wrapper {
    position: relative;
    height: 105px;
    background-color: #449f2a;
}

.main .item-title-wrapper h3.title {
    text-align: center;
    font-weight: 500;
}

.main .item-title-wrapper h3.title span {
    /*position: relative; !*定位横线（当横线的父元素）*!*/
    display: block; /*设置为块级元素会独占一行形成上下居中的效果*/
    width: 80%;
    line-height: 106px;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    margin: 0 auto;

}

.main .item-title-wrapper h3.title span:before {
    content: ''; /*CSS伪类用法*/
    position: absolute; /*定位背景横线的位置*/
    top: 52%;
    right: 25%;
    background-color: #fff; /*宽和高做出来的背景横线*/
    width: 95px;
    height: 2px;
}

.main .item-title-wrapper h3.title span:after {
    content: ''; /*CSS伪类用法*/
    position: absolute; /*定位背景横线的位置*/
    top: 52%;
    left: 25%;
    background-color: #fff; /*宽和高做出来的背景横线*/
    width: 95px;
    height: 2px;
}

.main .item-wrapper .item {
    position: relative;
    width: 230px;
    height: 365px;
    margin: 0 10px 5px 0;
    float: left;
}

.main .item-wrapper .item .item-img img {
    height: 230px;
}

.main .item-wrapper .item .tips {
    display: none;
    position: absolute;
    left: 10px;
    width: 50px;
    height: 65px;
    background: url(//i2.beta.ule.com/i/event/2018/0327/awaken/sprite-all.png) no-repeat -747px -398px;

}

.main .item-wrapper .item .item-txt {
    width: 230px;
    height: 40px;
    font-size: 16px;
    margin: 5px auto;
    vertical-align: middle;
}

.main .item-wrapper .item .item-txt p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.main .item-wrapper .item .item-txt .blk {
    height: 48px;
    margin-bottom: 5px;
    color: #000;
    font-size: 18px;
}

.main .item-wrapper .item .p-title {
    width: 60px;
    vertical-align: middle;
    font-style: italic;
    border: 1px solid #ff3b87;
}

.main .item-wrapper .item .p-title {
    display: inline-block;
    height: 20px;
    color: #ff3b87;
}

.main .item-wrapper .item .p-num {
    display: inline-block;
    height: 30px;
    color: #ff3b87;
}

.main .item-wrapper .item .p-title, .p-num .hlight {
    font-size: 16px;
    font-weight: bold;
}

.main .item-wrapper .item .p-num span {
    font-size: 25px;
}

.main .item-wrapper .item .btn-wrapper {
    width: 200px;
}

.main .item-wrapper .item .btns {
    width: 210px;
    height: 40px;
    margin-top: 5px;
    line-height: 40px;
    text-align: center;
    background-color: #ff3b87;
    border-radius: 25px;
}

.main .item-wrapper .item .btns a {
    font-size: 20px;
    color: #fff;
}
